{% extends "base_generic.html" %}

	 {% block title %}<Title> Сайт РГАТУ девчачий Вход </Title>{% endblock %}
	 {% block style %}
	 <link rel="stylesheet" href="/static/for.css" type="text/css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 {% endblock %}
 
  {% block body %} 
   <script ENGINE="text/javascript" src="https://code.jquery.com/jquery-1.11.2.js "></script>
   <script src="/static/new2.js"></script>
  <form onsubmit="return onSubmit()" action="#" method="post">
  {% csrf_token %}
  <p><input id="Login" class="edit" type="Login" name="LoginField" placeholder="Your e-mail" onkeyup='checkParams()' ></p>
  <p><input id="Password" class="edit" type="Password" name="PasswordField" placeholder="Password" onkeyup='checkParams()'></p>
  <a href="#"><p><button id="submitButton" disabled="disabled" class="new">LOGIN</button></p></a>
  </form>
  <a HREF="/forget"><h11>Forgot your password?</h11></a>
  <a HREF="/create"><h22>Create account!</h22></a>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <div id="myModalBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wrong login or password!</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
	   <img src="/static/pere.png" align="center" width="450" height="300">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
  </div>
  {% endblock %}
  